/* ----------------------------------------------
 * HanbitSoft Service Development Team
 * RGSlider v2.1 Stylesheet
 * Author - jhkim88@hanbitsoft.co.kr
------------------------------------------------- */

.slider{position:relative;height:100%;text-align:center;overflow:hidden;}
.slider ul.slider_list{width:auto;height:100%;}
.slider ul.slider_list li{float:left;width:100%;height:100%;}
.slider ul.slider_list li:first-child{margin-left:0}
.slider ul.slider_list li .dot{position:absolute;left:0; top:0;z-index:20;}
.slider ul.slider_list li .content{display:block;position:relative;left:0;top:0;width:100%;height:100%;overflow:hidden;}
.slider ul.slider_list li .content img{vertical-align:top}
.slider .btn_prev{position:absolute;top:50%;z-index:30;margin-top:-8px;left:0}
.slider .btn_next{position:absolute;top:50%;z-index:30;margin-top:-8px;right:0}
.slider .control{display:inline-block;position:relative;padding:500px 0 0 0;vertical-align:top;z-index:20;*display:inline;zoom:1}
.slider .btn_stop{}
.slider .btn_play{}