@charset "utf-8";

/* ----------------------------------------------
 * HanbitSoft Service Development Team
 * 슬라이더 이미지 버전업 Stylesheet
 * Author - jhkim88@hanbitsoft.co.kr 20160112
------------------------------------------------- */

/* CSS Reset
-------------------------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, small, dl, dt, dd, ol, ul, li, fieldset, form, select, input, button, label{margin:0; padding:0; font-size:100%;}
img, fieldset, button{border:0;}
body, input, button, textarea, select, table, kbd{line-height:1.2; font-family:'돋움', dotum, Helvetica, sans-serif; font-size:12px; color:#000;}
img{vertical-align:middle;}
ol, ul{list-style:none;}
button, label{cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0; border:0;}
table{border-collapse:collapse; border-spacing:0;}
caption, legend{width:0; height:0; font-size:0; line-height:0; text-indent:-9999px; visibility:hidden;}

/* Reserved Class
-------------------------------------------------------------- */
.irPm{display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px;}
.irWa{display:block; overflow:hidden; position:relative; width:100%; height:100%; z-index:-1;}
.blind{width:1px; height:1px; font-size:0; line-height:0; position:absolute; top:0; left:-1000%; overflow:hidden;}
.show{display:block;}
.hide{display:none;}
.fL{float:left;}
.fR{float:right;}
.clearFix{zoom:1;}
.clearFix:after{clear:both; display:block; content:'';}

/* Styles
-------------------------------------------------------------- */

html, body {width: 100%;height: 100%;background-color: #fff;}
.HBSliderBtn1{width:270px;height:70px;background-color:#fff000;font-size:20px;}

/*S:슬라이드팝업*/
.HBclose {position:absolute;right:-4px;top:0;}
.HBclose button {display:block;width:50px;height:60px;background-image:url(../images/HBSlider/slideCloseBtn.png);background-position:0 0;background-repeat:no-repeat;text-indent:-9999px}
.HBdimmed {display:none;z-index:200;position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);}
.HBSlider_Wrap {display:none;z-index:1000;position:fixed;width:873px;height:595px;}
.HBSlider {display:none;position:relative;overflow:hidden;width:759px;height:403px;margin:0 46px 26px 46px;border-width:11px;border-style:solid;}
.HBslide {position:absolute;left:0;top:0;width:9999px;}
.HBslide li {float:left;width:759px;height:403px;}
.page_Wrap {position:relative;width:100%;}
.HBpage {position:relative;overflow:hidden;width:782px;height:100px;margin:0 auto 20px auto}
.pageController {position:absolute;left:0;top:0;width:873px;}
.pageController li {position:absolute;}
.pageController button {display:block;width:46px;height:100px;background-image:url(../images/HBSlider/btn_controller.png);background-color:transparent;background-repeat:no-repeat;text-indent:-9999px;}
.HBprev {left:0;top:0;}
.HBnext {right:0;top:0;}
.HBprev button{background-position:0 -110px}
.HBnext button {background-position:-84px -110px;}
.HBprev button.on {background-position:0 0;}
.HBnext button.on {background-position:-84px 0;}
.pageThumbnail {position:absolute;left:0;top:0;width:9999px;}
.pageThumbnail li {position:relative;float:left;margin-right:14px;}
.pageThumbnail button {width:145px;height:100px;}
.pageThumbnail button:focus {outline:none;}
.pageThumbnail span {display:none;position:absolute;left:0;top:0;width:137px;height:92px;border-width:4px;border-style:solid;}
.pageThumbnail .on span {display:block}
.pageThumbnail img {width:100%;height:100%;}
.numberWrap {position:relative;text-align:center;}
.pageNumber {display:inline-block;*display:inline;position:relative;padding-left:60px;background:url(../images/HBSlider/btn_controller.png) 0 -220px no-repeat;zoom:1;}
.pageNumber li {float:left;margin-right:16px;}
.pageNumber li button {display:block;width:24px;height:24px;background-image:url(../images/HBSlider/btn_page.png);background-position:0 0;background-repeat:no-repeat;background-color:transparent;border-style:solid;-moz-border-radius:24px;border-radius:24px;text-indent:-9999px;}
.pageNumber li.list2 button {background-position:-40px 0;}
.pageNumber li.list3 button {background-position:-80px 0;}
.pageNumber li.list4 button {background-position:-120px 0;}
.pageNumber li.last {margin-right:0}
.borderColor1 {border-color:#f9af39;}
.slideColor1 {background-color:#f9af39;}
.pageNumber li button.on {background-color:#f9af39;}
.pageNumber .list1 button.on {background-position:0px -29px;}
.pageNumber .list2 button.on {background-position:-40px -29px;}
.pageNumber .list3 button.on {background-position:-80px -29px;}
.pageNumber .list4 button.on {background-position:-120px -29px;}
/*E:슬라이드팝업*/