<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="libs/bootstrap.min.css">
    <link rel="stylesheet" href="libs/angular-chart.css">
    <script src="libs/chart.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-chart.js"></script>
</head>
<body class="well" ng-controller="mainCtrl">
<ul class="list-unstyled clearfix">
    <li class="pull-left " ng-repeat=" button in buttons" >
        <button class="btn btn-default"
                ng-class="{'btn-info':button.isOn}"
                ng-click="showChart($index)"
        >{{button.name}}</button>
    </li>
</ul>
<div ng-controller="chartCtrl">
    <canvas ng-if="buttons[0].isOn"
            class="chart chart-line"
            chart-data="data"
            chart-legend="legend"
            chart-labels="labels"
            chart-series="series"
    ></canvas>
    <canvas ng-if="buttons[1].isOn"
            class="chart chart-bar"
            chart-data="data"
            chart-legend="legend"
            chart-labels="labels"
            chart-series="series"
    ></canvas>
    <canvas ng-if="buttons[2].isOn"
            class="chart chart-doughnut"
            chart-data="data[0]"
            chart-legend="legend"
            chart-labels="labels"
            chart-series="series"
    ></canvas>
    <canvas ng-if="buttons[3].isOn"
            class="chart chart-radar"
            chart-data="data"
            chart-legend="legend"
            chart-labels="labels"
            chart-series="series"
    ></canvas>
    <canvas ng-if="buttons[4].isOn"
            class="chart chart-polar-area"
            chart-data="data[0]"
            chart-legend="legend"
            chart-labels="labels"
            chart-series="series"
    ></canvas>
</div>
<script>
    var myApp = angular.module("myApp",['chart.js']).
    controller("mainCtrl", function($scope){
        $scope.Button = (function(){
            cnt = 0;
            function Button(name, isOn){
                this.name = name;
                this.isOn = isOn || false;
            }
            Button.prototype.click = function(){
                this.isOn = true;
            };
            return Button;
        })();

        $scope.buttons = [
            new $scope.Button('라인', true),
            new $scope.Button('바'),
            new $scope.Button('도넛'),
            new $scope.Button('레이더'),
            new $scope.Button('폴라')
        ];

        $scope.showChart = function(idx){ //차트 클릭 시
            for(var k in $scope.buttons){
                if($scope.buttons[k].isOn === true) $scope.buttons[k].isOn = false;
            }
            $scope.buttons[idx].click();
        }
    }).
    controller('chartCtrl',function($scope){
        $scope.data = [
            [123,234,345,111,11,97,43],
            [112,444,123,166,421,522,11]
        ];
        $scope.legend = true;
        $scope.series = ['A', 'B'];
        $scope.labels = ['월','화','수','목','금','토','일'];
    });
</script>
</body>
</html>
