<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css">
    <link rel="stylesheet" href="libs/angular-chart.css">
    <script src="libs/chart.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular/angular-resource.js"></script>
    <script src="libs/angular/angular-route.js"></script>
    <script src="libs/angular-chart.js"></script>
    <script>
        angular.module('weatherApp',['chart.js','ngRoute', 'ngResource']).
        controller('mainCtrl',function($scope, $resource){
            $scope.countrys = ['Seoul', 'Tokyo', 'NewYork', 'Shanghai'];
            $scope.city = $scope.countrys[0];
            $scope.cnt = '7';
            $scope.appId = '8d554a626fc5d01d77812b612a6de257';
            $scope.weatherAPI = $resource('http://api.openweathermap.org/data/2.5/forecast/daily',{
                callback : 'JSON_CALLBACK'
            },{
                get : {
                    method : 'JSONP'
                }
            });
            $scope.cityTemp = [[]];
            $scope.cityDate =[];
            $scope.legend = true;
            $scope.series = ['일주일 날씨'];
            loadChartData();
            $scope.showChart = function(city){ //버튼 클릭 시
                $scope.city = city;
                loadChartData();
            };

            function loadChartData() {
                $scope.weatherResult = $scope.weatherAPI.get({q:$scope.city, cnt: $scope.cnt, APPID: $scope.appId},function(){
                    if(!$scope.weatherResult.cnt) return; // 호출 속도가 느릴 때
                    for (var j=0; j < $scope.cnt; j++){
                        $scope.cityTemp[0][j] = Math.round($scope.weatherResult.list[j].temp.day - 273.15);
                        $scope.cityDate[j] = new Date($scope.weatherResult.list[j].dt * 1000).getDate();
                    }
                });
            }
        });
    </script>
</head>
<body  ng-controller="mainCtrl">
    <h1>{{city}}의  날씨 결과</h1>
    <ul class="list-unstyled clearfix">
        <li class="pull-left" ng-repeat="country in countrys">
            <button class="btn btn-default"
                    ng-class="{'btn-info':country === city}"
                    ng-click="showChart(country)"
            >{{country}}</button>
        </li>
    </ul>
    <canvas class="chart chart-line"
            chart-data="cityTemp"
            chart-legend="legend"
            chart-labels="cityDate"
            chart-series="series"
    ></canvas>
</body>
</html>
